# EDA


- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [1]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags

## Data Importing

In [2]:
# load one file first to see what type of data you're dealing with and what attributes it has
with open('../data/AK_Juneau_0.json') as f:
    did_it_work = json.load(f)

did_it_work.keys() # staus, data
did_it_work['data'].keys() # total, count, results
did_it_work['data']['results'][0] # each index value is a list item from results.
print(did_it_work['data']['results'][0].keys())
print(did_it_work['data']['results'][0]['description'])
print(did_it_work['data']['results'][0]['status'])
print(did_it_work['data']['results'][0]['list_date'])
print(did_it_work['data']['results'][0]['list_price'])
print(did_it_work['data']['results'][0]['property_id'])
print(did_it_work['data']['results'][0]['community'])
print(did_it_work['data']['results'][0]['price_reduced_amount'])
print(did_it_work['data']['results'][0]['location'])
print(did_it_work['data']['results'][7]['community'])


print(len(did_it_work['data']['results']))

house_results = did_it_work['data']['results']
house_results[0].keys()

dict_keys(['primary_photo', 'last_update_date', 'source', 'tags', 'permalink', 'status', 'list_date', 'open_houses', 'description', 'branding', 'list_price', 'lead_attributes', 'property_id', 'photos', 'flags', 'community', 'products', 'virtual_tours', 'other_listings', 'listing_id', 'price_reduced_amount', 'location', 'matterport'])
{'year_built': 1963, 'baths_3qtr': None, 'sold_date': '2023-09-18', 'sold_price': None, 'baths_full': 2, 'name': None, 'baths_half': None, 'lot_sqft': 10454, 'sqft': 1821, 'baths': 2, 'sub_type': None, 'baths_1qtr': None, 'garage': 1, 'stories': None, 'beds': 3, 'type': 'single_family'}
sold
2023-06-29T21:16:25.000000Z
554950
9074430767
None
45000
{'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': {'lon': -134.59372, 'lat': 58.36395}, 'city': 'Juneau', 'state_code': 'AK', 'line': '9453 Herbert Pl'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9453%20Herbert%20Pl%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=OPv224SjFIJWgVKAXZKZXNYEdNQ=', 'county': {'fips_code': None, 'name': 'Juneau'}}
None
8

dict_keys(['primary_photo', 'last_update_date', 'source', 'tags', 'permalink', 'status', 'list_date', 'open_houses', 'description', 'branding', 'list_price', 'lead_attributes', 'property_id', 'photos', 'flags', 'community', 'products', 'virtual_tours', 'other_listings', 'listing_id', 'price_reduced_amount', 'location', 'matterport'])

In [3]:
house_results[6]['description']

{'year_built': 1920,
 'baths_3qtr': None,
 'sold_date': '2023-08-03',
 'sold_price': None,
 'baths_full': 3,
 'name': None,
 'baths_half': None,
 'lot_sqft': 5875,
 'sqft': 3860,
 'baths': 3,
 'sub_type': None,
 'baths_1qtr': None,
 'garage': 2,
 'stories': None,
 'beds': 5,
 'type': 'single_family'}

In [4]:
house_results[0]['tags']

['carport',
 'community_outdoor_space',
 'cul_de_sac',
 'family_room',
 'hardwood_floors',
 'hill_or_mountain_view',
 'recreation_facilities',
 'rv_or_boat_parking',
 'basement',
 'garage_1_or_more',
 'two_or_more_stories',
 'big_yard',
 'high_ceiling',
 'efficient',
 'trails',
 'shopping']

In [5]:
house_results[0]['location']

{'address': {'postal_code': '99801',
  'state': 'Alaska',
  'coordinate': {'lon': -134.59372, 'lat': 58.36395},
  'city': 'Juneau',
  'state_code': 'AK',
  'line': '9453 Herbert Pl'},
 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9453%20Herbert%20Pl%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=OPv224SjFIJWgVKAXZKZXNYEdNQ=',
 'county': {'fips_code': None, 'name': 'Juneau'}}

In [6]:
house_results[0]['property_id']

'9074430767'

In [28]:
len(house_results[0])

23

In [24]:
        df1 = pd.Series(house_results[0]['property_id'])
        df2 = pd.json_normalize(house_results[0]['description'])
        df3 = pd.json_normalize(house_results[0]['location'])
        df4 = pd.json_normalize(house_results[0]['tags'])
        df_link = [df1,df2,df3,df4]
        df_combined = pd.concat(df_link)
        df_combined

,0,year_built,baths_3qtr,sold_date,sold_price,baths_full,name,baths_half,lot_sqft,sqft,...,street_view_url,address.postal_code,address.state,address.coordinate.lon,address.coordinate.lat,address.city,address.state_code,address.line,county.fips_code,county.name
0,9074430767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,1963.0,None,2023-09-18,None,2.0,None,None,10454.0,1821.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,https://maps.googleapis.com/maps/api/streetvie...,99801,Alaska,-134.59372,58.36395,Juneau,AK,9453 Herbert Pl,None,Juneau
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Loop function prototype
def normalized_dataframe(house_results):
    # create empty data_set list
    df_set = []
    # loop cycles through each result individual normalization
    for i in range(len(house_results)):
        df = pd.json_normalize(house_results[i])
        df_set.append(df)
    return df_set
working_maybe = normalized_dataframe(house_results)
working_maybe = pd.concat(working_maybe)
drop_list = ['last_update_date', 'permalink', 'open_houses','branding', 'photos','community','virtual_tours','matterport', 'primary_photo.href','source.plan_id','source.agents','source.spec_id','source.type','lead_attributes.show_contact_an_agent','flags.is_new_construction','flags.is_for_rent','flags.is_subdivision','flags.is_contingent','flags.is_price_reduced','flags.is_pending','flags.is_plan','flags.is_foreclosure','flags.is_coming_soon','flags.is_new_listing','products.brand_name','primary_photo','source','products','other_listings.rdc','location.street_view_url','location.county.fips_code','location.address.coordinate','other_listings']
refined_df = working_maybe.drop(columns=drop_list)
drop_list_bathroom = ['description.baths_1qtr','description.baths_half','description.baths_3qtr', 'description.baths_full', ]
refined_df = refined_df.drop(columns=drop_list_bathroom)
refined_df

,tags,status,list_date,list_price,property_id,listing_id,price_reduced_amount,description.year_built,description.sold_date,description.sold_price,...,description.beds,description.type,location.address.postal_code,location.address.state,location.address.coordinate.lon,location.address.coordinate.lat,location.address.city,location.address.state_code,location.address.line,location.county.name
0,"[carport, community_outdoor_space, cul_de_sac,...",sold,2023-06-29T21:16:25.000000Z,554950,9074430767,2957241843,45000,1963,2023-09-18,None,...,3,single_family,99801,Alaska,-134.593720,58.363950,Juneau,AK,9453 Herbert Pl,Juneau
0,None,sold,None,None,9424983842,None,None,None,2023-08-22,None,...,None,None,99801,Alaska,NaN,NaN,Juneau,AK,8477 Thunder Mountain Rd,Juneau
0,None,sold,None,None,9479068516,None,None,None,2023-08-22,None,...,None,None,99801,Alaska,NaN,NaN,Juneau,AK,4515 Glacier Hwy,Juneau
0,None,sold,None,None,9879331943,None,None,None,2023-08-21,None,...,None,None,99801,Alaska,NaN,NaN,Juneau,AK,17850 Point Stephens Rd,Juneau
0,None,sold,None,None,9521639574,None,None,None,2023-08-21,None,...,None,None,99801,Alaska,NaN,NaN,Juneau,AK,9951 Stephen Richards Memorial Dr,Juneau
0,"[carport, hill_or_mountain_view, ocean_view, s...",sold,2023-08-21T21:01:22.000000Z,415000,7412309719,2958925334,None,1969,2023-08-04,None,...,2,condos,99801,Alaska,-134.649067,58.386651,Juneau,AK,11909 Glacier Hwy Apt 105,Juneau
0,"[city_view, community_outdoor_space, community...",sold,2023-08-21T21:01:22.000000Z,835000,7660490777,2958924095,None,1920,2023-08-03,None,...,5,single_family,99801,Alaska,-134.403991,58.304573,Juneau,AK,808 5th St,Juneau
0,None,sold,None,None,8274121172,None,None,2002,2023-07-21,None,...,3,mobile,99801,Alaska,-134.553717,58.396178,Juneau,AK,4446 Trafalgar Ave,Juneau

In [ ]:
# Column count pre drop
print(working_maybe.columns)
print(len(working_maybe.columns))

Index(['last_update_date', 'tags', 'permalink', 'status', 'list_date',
       'open_houses', 'branding', 'list_price', 'property_id', 'photos',
       'community', 'virtual_tours', 'listing_id', 'price_reduced_amount',
       'matterport', 'primary_photo.href', 'source.plan_id', 'source.agents',
       'source.spec_id', 'source.type', 'description.year_built',
       'description.baths_3qtr', 'description.sold_date',
       'description.sold_price', 'description.baths_full', 'description.name',
       'description.baths_half', 'description.lot_sqft', 'description.sqft',
       'description.baths', 'description.sub_type', 'description.baths_1qtr',
       'description.garage', 'description.stories', 'description.beds',
       'description.type', 'lead_attributes.show_contact_an_agent',
       'flags.is_new_construction', 'flags.is_for_rent',
       'flags.is_subdivision', 'flags.is_contingent', 'flags.is_price_reduced',
       'flags.is_pending', 'flags.is_foreclosure', 'flags.is_plan',
       'flags.is_coming_soon', 'flags.is_new_listing', 'products.brand_name',
       'other_listings.rdc', 'location.address.postal_code',
       'location.address.state', 'location.address.coordinate.lon',
       'location.address.coordinate.lat', 'location.address.city',
       'location.address.state_code', 'location.address.line',
       'location.street_view_url', 'location.county.fips_code',
       'location.county.name', 'primary_photo', 'source', 'products',
       'location.address.coordinate', 'other_listings'],
      dtype='object')
64

In [ ]:
# final column count after dropping
print(refined_df.columns)
print(len(refined_df.columns))

Index(['tags', 'status', 'list_date', 'list_price', 'property_id',
       'listing_id', 'price_reduced_amount', 'description.year_built',
       'description.sold_date', 'description.sold_price', 'description.name',
       'description.lot_sqft', 'description.sqft', 'description.baths',
       'description.sub_type', 'description.garage', 'description.stories',
       'description.beds', 'description.type', 'location.address.postal_code',
       'location.address.state', 'location.address.coordinate.lon',
       'location.address.coordinate.lat', 'location.address.city',
       'location.address.state_code', 'location.address.line',
       'location.county.name'],
      dtype='object')
27

In [ ]:
# cycle through data folder
def data_cycle(direc='../data'):
    for i in os.listdir(direc):
        json_path = os.path.join(direc, i)
        with open(json_path) as f:
            

with open('../data/AK_Juneau_0.json') as f:
    did_it_work = json.load(f)

In [ ]:
# loop over all files and put them into a dataframe

## Data Cleaning and Wrangling

At this point, ensure that you have all sales in a dataframe.
- Take a quick look at your data (i.e. `.info()`, `.describe()`) - what do you see?
- Is each cell one value, or do some cells have lists?
- What are the data types of each column?
- Some sales may not actually include the sale price (target).  These rows should be dropped.
- There are a lot of NA/None values.  Should these be dropped or replaced with something?
    - You can drop rows or use various methods to fills NA's - use your best judgement for each column 
    - i.e. for some columns (like Garage), NA probably just means no Garage, so 0
- Drop columns that aren't needed
    - Don't keep the list price because it will be too close to the sale price. Assume we want to predict the price of houses not yet listed

In [ ]:
# load and concatenate data here
# drop or replace values as necessary

### Dealing with Tags

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [ ]:
# OHE categorical variables/ tags here
# tags will have to be done manually

### Dealing with Cities

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- What we can do is use our training data to encode the mean sale price by city as a feature (a.k.a. Target Encoding)
    - We can do this as long as we ONLY use the training data - we're using the available data to give us a 'starting guess' of the price for each city, without needing to encode city explicitly
- If you replace cities or states with numerical values (like the mean price), make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Note that you *may* have cities in the test set that are not in the training set. You don't want these to be NA, so maybe you can fill them with the overall mean

In [ ]:
# perform train test split here
# do something with state and city

## Extra Data - STRETCH

> This doesn't need to be part of your Minimum Viable Product (MVP). We recommend you write a functional, basic pipeline first, then circle back and join new data if you have time

> If you do this, try to write your downstream steps in a way it will still work on a dataframe with different features!

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [ ]:
# import, join and preprocess new data here

## EDA/ Visualization

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.    
    - Consider transforming very skewed variables
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
    - You may have too many features to do this, in which case you can simply compute the most correlated feature-pairs and list them
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# perform EDA here

## Scaling and Finishing Up

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized